{% extends "base.html" %}
    {% block title %}{{ name }}{% endblock %}
    {% block active_tags %}active{% endblock %}
    {% block big_header %}{{ name }}{% endblock %}
    {% block little_header %}ID #: {{ student_id }} | Tag: {{ tag }}{% endblock %}
    {% block body %}
			<div class="col-sm-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Attendance Records</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>Record ID</th>
									<th>Room #</th>
									<th>Date</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								{% for r in records %}
								<tr>
									<td>{{ r[0] }}</td>
									<td>{{ r[2] }}</td>
									<td>{{ r[3] }}</td>
									<td>{{ r[4]|safe }}</td>	 
								</tr>
								{% endfor %} 
							</tbody>
						</table>
				</div>
			</div>
		 </div>
		 <div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Quick Stats</h3>
					</div>
					<div class="panel-body">
						<b>Present/Absent Ratio: 40%</b>
						<div class="progress progress-striped">
							<div class="progress-bar progress-bar-success" role="progressbar" style="width: 40%"></div>
						</div>
						<b>Tardy/On Time Ratio: {{ tardyRatio[2] }}%</b>
						<div class="progress progress-striped">
							<div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ tardyRatio[2] }}%"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Class Schedule</h3>
                    </div>
                    <div class="panel-body">
					<form action"./edit" method="get">
						<input type="hidden" value="1" name="edited" />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Period</th>
                                    <th>Class</th>
                                </tr>
                            </thead>
                            <tbody>
								{% for t in classblocks %}
								<tr>
								{% set outer_loop = loop %}
                                	<td> {% print t[0] %}</td>
                                    <td><select class="form-control" name="{{ t[0] }}-schedule">
									{% for c in classlist[loop.index0] %}
										<option value="{{ c[0] }}" 
										{% if c[0] == currentclasses[outer_loop.index0] %} 
											selected="true"
										{% endif %}
										>{{ c[0] }} - {{ c[1] }} - {{ c[2] }} - {{ c[4] }}</option>
									{% endfor %}
									<option>None</option>
									</select></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
					<div class="panel panel-footer">
						<div class="pull-right"><button class="btn btn-success" type="submit">Update</button></div>
					</div></form>
                </div>
			</div>
{% endblock %}
