<!doctype html>
<html>
	<head>
		<title>CheckIn | Tags</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/static/bootstrap.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	</head>
	
	<body>
		<div class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">CheckIn</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li> <a href="#">Home</a> </li>
						<li> <a href="/status">Status</a> </li>
						<li> <a href="/data">Data</a> </li>
						<li class="active"> <a href="/tags">Tags</a> </li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					<li><a onClick="window.location = signout">Sign Out</a></li>
					</ul>
				</div>
				<!-- /.nav-collapse -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.navbar -->
		<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
					<h1>Student / Tag Management<small> Add, update, and remove students and tags.</small></h1>
				</div>
			</div>
		</div>
		<div class="row">
		<div class="col-sm-8">
			{% if printstatus==1 %}
				{% if query_ok==1 %}
					<div class="alert alert-success">{{ newstudent }} has been added with ID #{{ newid }} and tag ID {{ newtag }}</div>
				{% endif %}
				{% if query_ok==0 %}<div class="alert alert-danger">Something bad happened! Tag not added.</div>{% endif %}
			{% endif %}
			<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Student / Tag Relationships</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>Student ID</th>
									<th>Name</th>
									<th>Tag</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for s in students %}
								<tr>
									<td>{% print(s[0]) %}</td>
									<td>{% print(s[1]) %}</td>
									<td>{% print(s[2]) %}</td>	 
									<td><div class="btn-group btn-group-xs">
										<a href="/tags/edit/{% print(s[0]) %}" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span></a>
										<a href="/tags/delete?delid={% print(s[0]) %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
										</div>
									</td>
								</tr>
								{% endfor %} 
								<tr>
								<div class="input-group input-group-sm"><form action="/tags/add" method="get">
								<td><input type="text" id="disabledInput" class="form-control" value="New ID: {{ newid }}" disabled></td>
								<td><input type="text" class="form-control" placeholder="New Name" name="name"></td>
								<td><input type="text" class="form-control" placeholder="Scan New Tag Here" name="tag"></td>
								<td><button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></td>
								</form></div>
							</tbody>
						</table>
					</div>
				</div>
			 </div>
			 <div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Find a Student</h3>
					</div>
					<div class="panel-body"><form action="/tags/search" method="get">
						<div class="input-group">
							<input type="text" class="form-control" name="id" placeholder="ID to find">
							<span class="input-group-btn"><button class="btn btn-primary" type="button">Go!</button></span>
						</div><br>
						<div class="input-group">
							<input type="text" class="form-control" name="student" placeholder="Name to find">
							<span class="input-group-btn"><button class="btn btn-primary" type="button">Go!</button></span>
						</div><br>
						<div class="input-group">
							<input type="text" class="form-control" name="tag" placeholder="Tag to find">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button">Go!</button></span>
						</div></form>
					</div>
				</div>
			</div>
		</div>
		<div class="row"><div class="col-sm-12">
			<div class="well well-sm"><b>&copy; 2014 Doan Engineering</b></div>
		</div></div>
	</div></div>
	</body>
</html>
