{% extends "base.html" %}
	{% block title %}Tags{% endblock %}
	{% block active_tags %}active{% endblock %}
	{% block big_header %}Student / Tag Management{% endblock %}
	{% block little_header %}Add, update, and remove students and tags.{% endblock %}
	{% block body %}
		<div class="col-sm-8">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Student / Tag Relationships</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>Student ID</th>
									<th>Name</th>
									<th>Tag</th>
									<th>Details</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for s in students %}
								<tr>
									<td class="row-{{ s[0] }} id">{% print(s[0]) %}</td>
									<td class="row-{{ s[0] }} name">{% print(s[1]) %}</td>
									<td class="row-{{ s[0] }} tag">{% print(s[2]) %}</td>
									<td class="row-{{ s[0] }} buttons"><div class="btn-group btn-group-xs">
										<a class="btn btn-primary" href="/student/{{ s[0] }}"><span class="glyphicon glyphicon-user"></span></a></div></td>
									<td class="row-{{ s[0] }} buttons"><div class="btn-group btn-group-xs">
										<a onClick='editTag($(".row-{{ s[0] }}.id").text(), $(".row-{{ s[0] }}.name").text(), $(".row-{{ s[0] }}.tag").text());'  class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span></a>
										<a href="/tags/delete?delid={% print(s[0]) %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
									</div></td>
								</tr>
								{% endfor %} 
								<tr>
								<div class="input-group input-group-sm"><form action="/students/add" method="get">
								<td><input type="text" id="disabledInput" class="form-control" value="New ID: {{ newid }}" disabled></td>
								<td><input type="text" class="form-control" placeholder="New Name" name="name"></td>
								<td><input type="text" class="form-control" placeholder="Scan New Tag Here" name="tag"></td>
								<td><button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></td>
								</form></div>
							</tbody>
						</table>
					</div>
				</div>
			 </div>
			 <div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Find a Student</h3>
					</div>
					<div class="panel-body"><form action="/students/search" method="get">
						<div class="input-group">
							<input type="text" class="form-control" name="id" placeholder="ID to find">
							<span class="input-group-btn"><button class="btn btn-primary" type="button">Go!</button></span>
						</div><br>
						<div class="input-group">
							<input type="text" class="form-control" name="student" placeholder="Name to find">
							<span class="input-group-btn"><button class="btn btn-primary" type="button">Go!</button></span>
						</div><br>
						<div class="input-group">
							<input type="text" class="form-control" name="tag" placeholder="Tag to find">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button">Go!</button></span>
						</div></form>
					</div>
				</div>
			</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Edit Student</h4>
	  </div>
	  <div class="modal-body">
		<form class="form-horizontal" method="get" action="/students/edit">
	<div class="form-group">
		<label class="control-label col-md-4" for="modal_id">Student ID #</label>
		<div class="col-md-6">
			<input type="text" class="form-control" id="modal_id" name="id" value="" disabled/>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-4" for="modal_name">Student Name</label>
		<div class="col-md-6">
			<input type="hidden" id="modal_name" name="name" value=""/>
			<input type="text" class="form-control" id="modal_name_show" value="" disabled/>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-4" for="modal_tag">Tag #</label>
		<div class="col-md-6">
			<input type="text" class="form-control" id="modal_tag" name="tag" value=""/>
		</div>
	</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Save changes</button>
	  </div>
	</form>
	</div>
  </div>
</div>
{% endblock %}
